<footer>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <a href="Abount">About</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="Abount">Terms</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="Abount">Privacy</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="Abount">Contact</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="Abount">Security</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="Abount">Help</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="Abount">FAQ</a>
                </div>
                <div class="pull-right">
                    <a href="#"><i class="social social-facebook"></i></a>
                    &nbsp;
                    <a href="#"><i class="social social-telegram"></i></a>
                    &nbsp;
                    <a href="#"><i class="social social-twitter"></i></a>
                    &nbsp;
                    <a href="#"><i class="social social-reddit"></i></a>
                    &nbsp;
                    <a href="#"><i class="social social-email"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <span class="pull-left">
                    @2018 IDVN All Rights Reserved
                </span>
            </div>
        </div>
    </div>
</footer>
