<h1 class="text-center">Developer playground</h1>

<input class="form-control" type="text" [(ngModel)]="alias" name="alias" placeholder="alias" />

<hr />
<button class="btn" (click)="isClaimedAlias()">isClaimedAlias</button>
<button class="btn" (click)="aliasToAddress()">aliasToAddress</button>

<hr />

<button class="btn" (click)="canClaimAliasForFree()">canClaimAliasForFree</button>
<button class="btn" (click)="claimAliasForFree()">claimAliasForFree</button>
<button class="btn" (click)="claimAliasWithEth()">claimAliasWithEth</button>
<button class="btn" (click)="claimAliasWithToken()">claimAliasWithToken</button>

<hr />

<button class="btn" (click)="allAliases()">allAliases</button>
<button class="btn" (click)="claimedAliasesCount()">claimedAliasesCount</button>
<button class="btn" (click)="releaseAlias()">releaseAlias</button>

<hr />

<button class="btn" (click)="getClaimEthFeeAmount()">getClaimEthFeeAmount</button>
<button class="btn" (click)="getClaimTokenFeeAmount()">getClaimTokenFeeAmount</button>
<button class="btn" (click)="getClaimTokenAddress()">getClaimTokenAddress</button>

<hr />


<input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
<button (click)="update()" class="btn btn-primary btn-lg">Update</button>
<input [(ngModel)]="avatarFileName" name="avatarFileName" />
<button (click)="read()" class="btn btn-primary btn-lg">Read</button>
