<h1 class="text-center">Developer playground</h1>

<input type="text" [(ngModel)]="alias" name="alias" placeholder="alias" />
<button (click)="isClaimedAlias()">isClaimedAlias</button>
<button (click)="aliasToAddress()">aliasToAddress</button>
<button (click)="allAliases()">allAliases</button>
<button (click)="canClaimAliasForFree()">canClaimAliasForFree</button>
<button (click)="claimAliasForFree()">claimAliasForFree</button>
<button (click)="claimAliasWithEth()">claimAliasWithEth</button>
<button (click)="claimAliasWithToken()">claimAliasWithToken</button>
<button (click)="releaseAlias()">releaseAlias</button>
<button (click)="claimedAliasesCount()">claimedAliasesCount</button>
<button (click)="getClaimEthFeeAmount()">getClaimEthFeeAmount</button>
<button (click)="getClaimTokenFeeAmount()">getClaimTokenFeeAmount</button>
<button (click)="getClaimTokenAddress()">getClaimTokenAddress</button>
